# Copy to config.yaml, edit with your prompts

- interval: 67   # seconds
  say:
    - Relax, let go.
    - Breathe deeply.
    - Relax your shoulders.
    - Relax your pick grip.
- interval: 45    # seconds
  say:
    - lick 1
    - lick 2
